<h1>Article Submission</h1>

<form method="POST" action="/articles">

<p><label for="title">Title:</lable>
<input type="text" id="title" name="title"></p>

<p><label for="content">Content:</lable>
<input type="text" id="content" name="content"></p>

<input type="submit" name="submit">

</form>